# Ignore the Rust build target directory (speeds up COPY)
target/

# Ignore the local lock file to force regeneration inside container
Cargo.lock

# local environment files
venv/

# Python cache files
__pycache__/

# python scripts for model exporting and verifying     
utils/

# logs
logs/
