# Rust build artifacts
/target/

# IDE/editor specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Ignore all video files
*.mp4

# --- test_videos folder ---
# Ignore everything inside test_videos/
test_videos/*
# But keep the directory itself and .gitkeep
!test_videos/
!test_videos/.gitkeep

# --- output_videos folder ---
# Ignore everything inside output_videos/
output_videos/*
# But keep the directory itself and .gitkeep
!output_videos/
!output_videos/.gitkeep

# python env files
venv/
__pycache__/